#about{
    background: var(--primaryColor);
    width: 100%;
    height: auto;
    color: var(--tertiaryColor);
}
#about .container .outer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about .container .outer h2{
    margin: 25px 0;
    overflow: hidden;
    text-align: center;
    font-size: 250%;
    word-spacing: 5px;
}
#about .container .outer h2:before,
#about .container .outer h2:after {
    background: var(--tertiaryColor);
    content: "";
    display: inline-block;
    border-radius: 15px;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 30%;
}
#about .container .outer h2:before {
    right: 1em;
}
#about .container .outer h2:after {
    left: 1em;
}
#about .container .outer{
    width: 100%;
    display: block;
}
#about .container .outer p{
    font-weight: 400;
    width: 80%;
    font-size: 175%;
    text-align: justify;
    display: block;
    margin: 50px auto;
}
#about .container .outer video{
    width: 50%;
    display: block;
    margin: 50px auto;
}
@media only screen and (max-width: 640px){
    #about .container .outer h2{
        font-size: 150%;
    }
    #about .container .outer p{
        padding: initial;
        font-size: 125%;
    }
    #about .container .outer video{
        width: 100%;
        margin: auto;
    }
}